LOGIN_ID=your_id
LOGIN_PASSWORD=your_password
GEMINI_API_KEY_LIST=your_api_key_list_with_space_separated
GEMINI_API_KEY=your_api_key

# 모델 설정
STANDARD_MODEL=gemini-3.1-flash-image-preview
ADVANCED_MODEL=gemini-3-pro-image-preview
STANDARD_MODEL_ALIAS=Nano Banana 2
ADVANCED_MODEL_ALIAS=Nano Banana Pro